
#banner-wrap{
    position:relative;
    overflow:hidden;
}
#banner-wrap img{
    width:1920px;
    cursor:pointer;
}

#banner{
    height:450px;
    cursor:pointer;
    position:absolute;
    top:0;left:0;
    right:0;margin:auto;
}









#main-wrap{
    width: 400px;
    margin: 0 auto;
   position: relative;
   overflow: hidden;
}

#list{
    height:260px;
    cursor:pointer;
    position:absolute;
    top:0;
    left:0;
    right:0;
    margin:auto;
}
#swiper-p2{
    position:absolute;
    top:240px;
    left:0;
    right:0;
    margin:auto;
}


